<h2>Create New Landmark</h2>

<!-- add content here -->
<form method="post" action="/landmarks">
  
  <label><h3>Register a New Landmark</h3></label>
  <h4>Name:</h4>
  <input type="text" name="landmark[name]" id="landmark_name"><br>
  <label><h4>Year Completed</h4></label>
  <input type="integer" name="landmark[year_completed]" id="landmark_year_completed"><br>

  <input type="submit" value="Create New Landmark">
</form>
<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
